h1 {
  text-align: center;
}

div .content {
  text-align: left;
  padding-left: 5vw;
  input {
  }
}

img {
  height: 140px;
  width: 100px;
}

th {
  padding: 10px !important;
}

#progress {
  display: none;
  width: 90%;
  background-color: grey;
}

#progressBar {
  width: 1%;
  height: 30px;
  background-color: green;
}